html,
body {
  background-color: #0000009a;
  color: #faf7f0;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  height: 100%; /* Ensure the body and html take up the full height */
}

#matrix-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  font-family: "poppins";
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
}

.main {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure content is above the canvas */
  z-index: 1; /* Ensure content is above the canvas */
}

.container {
  padding: 2rem;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #070707;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letters {
  font-size: 7rem;
  font-weight: 900;
}

.letters > span {
  animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px #0b6331, 0 0 50px #39d695, 0 0 100px #39d668;
  }
  10%,
  90% {
    color: #ffffff;
    text-shadow: none;
  }
}

.letters > span:nth-child(2) {
  animation-delay: 0.2s;
}
.letters > span:nth-child(3) {
  animation-delay: 0.4s;
}
.letters > span:nth-child(4) {
  animation-delay: 0.6s;
}
.letters > span:nth-child(5) {
  animation-delay: 0.8s;
}
.letters > span:nth-child(6) {
  animation-delay: 1s;
}
.letters > span:nth-child(7) {
  animation-delay: 1.2s;
}
.letters > span:nth-child(8) {
  animation-delay: 1.4s;
}
.letters > span:nth-child(9) {
  animation-delay: 1.6s;
}

.moved-letter {
  position: absolute;
  pointer-events: none;
  color: #0f0;
  font-family: monospace;
  font-size: 16px;
  z-index: 2;
}

.cursor-circle {
  position: absolute;
  pointer-events: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0f0;
  z-index: 2;
  opacity: 0.8;
  transition: transform 0.5s, opacity 0.5s;
}

.cursor-trail {
  position: absolute;
  pointer-events: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0f0;
  opacity: 0.8;
  transition: transform 0.5s, opacity 0.5s;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .letters {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  }

  .button {
    font-size: 12px;
    padding: 4px;
  }
}

.botonera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.hub {
  color: #faf7f0;
  text-decoration: none;
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.hub:hover {
  color: #316f45;
  box-shadow: 0px, 10px, 20px, #030c14;
}

.btn {
  height: auto;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.button {
  color: #faf7f0;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 1rem;
  font-size: 16px;
  transition: 0.5s;
  border: 2px solid #6a688f;
  cursor: pointer;
  background-color: #000000f4;
  width: 300px; /* Set a fixed width for all buttons */
  text-align: center; /* Ensure text is centered */
}
.button:hover {
  background: #faf7f0;
  color: #1c315d;
  box-shadow: 0px, 10px, 20px, #d2eaff;
}

.dropbtn {
  background-color: #000000f4;
  color: #faf7f0;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 300px;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000f4;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .button {
  color: #faf7f0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .button:hover {
  background-color: #575757;
}

.show {
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
